* {
    font-family: 'Lato', sans-serif;
    color:	#444;
    font-weight: 200;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-align: justify;

}

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    background-color: #eeefe8;

}

main{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background-color: #eeefe8;

}

/*index oldal*/

.image {
    position: center;
    margin: 0 auto;
    padding-left: 150px;
}

/*index oldal vege*/

/*Navbar*/

nav{
    width: 100%;
    height: 50px;
    position:fixed;
    background-color: #444;
    top:0;
    left:0;
    text-align: center;
    display: flex;
}

.logo_image {
    height: 50px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li {
    font-size: 1.2em;
    height: 50px;
    display: inline-block;
    padding-right: 50px;
    transition: .3s background-color;

}

nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    height: 50px;

}

nav li:hover {
    background-color: #005f5f;
}

nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

/*Navbar vege*/


/*Add oldal*/

form{
    margin-top:100px;
    width:600px;

}

.labelandinput{
    display:flex;

}

label{
    font-size: 80%;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 45px;
    width:300px;

}
input{
   margin-bottom: 10px;
}

.buttons{
    border:none;
    text-decoration:none;
    font-size:100%;
    margin:0px;
    padding:0px;
    background-color:#eeefe8;
    margin-left: 80px;

}

.buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.buttons li{

    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding-right: 50px;


}

.buttons a{
    margin-top: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

    /*transition: .3s background-color;*/
}


input[type="submit"],
input[type="reset"]{
    text-decoration: none;
    border: none;
    font-size: 20px;
    margin: 0 10px;
    color:inherit;
    background-color:#eeefe8;

}

input[type="submit"]:hover,
input[type="reset"]:hover,
.funky_anchor:hover
 {
    text-shadow: 0 0 25px #000;
}

a:hover{
    /*font-weight: bold;*/

}

/*Add oldal vege*/

/*Simulate oldal*/

p{
    margin: 100px auto 10px -200px;
    font-size: 80%;
}
Table{
    width: 1200px;
    margin: 25px auto 25px -200px;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #444;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}
table tr:hover {
    background: #f4f4f4;
}
table tr:hover td {
    color: #555;
}
table th, table td {
    color: #999;
    border: 1px solid #eee;
    padding: 10px 25px;
    border-collapse: collapse;
}
table th {
    background: #444;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
table th.last {
    border-right: none;
}

.leftalignbuttons{
    text-decoration:none;
    margin: 100px auto 10px -200px;
    font-size: 80%;

}
.leftalignbuttons a{
    text-decoration:none;
    font-size: inherit;
}

/*Simulate oldal vege*/

/*Results oldal*/

.innertable {
    width:30px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: none;
    border-bottom: none;
    box-shadow: none;
    padding-top:100px;

}

.wrappertable{
    margin-top:150px;
}

.resultlist{
    list-style: none;
    margin: 50px auto 10px -200px;
}

/*Result oldal vege*/

/*Faq oldal*/

.faq p{
    margin-top:30px;
}

.faq img{
    width:120%;
    height:auto;

}
.faq ul, .faq li{
    list-style: none;
}

.faq h1{
    margin-left:-200px;
    margin-top:50px;
}

.insidelist li{
    margin-left: -200px;
    font-size: 70%;
}
.faq .funky_anchor{
    font-size: 85%;

}
#returnanchor{
    font-size: 70%;
    margin-left: -200px;
}