<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>
    <title>Index</title>
</head>

<body>
<header>
    <nav >
        <ul>
            <li><a href="#" th:href="@{'/add'}">Add new person</a></li>
            <li><a href="#" th:href="@{'/simulate'}">Simulate</a></li>
            <li><a href="#" th:href="@{'/faq'}">FAQ</a></li>
        </ul>
    </nav>
</header>
<main class="faq">
    <h1>FAQ</h1>
    <ul>
        <li>
            <p><b>Q: What is the Thomas-Kilmann Model?</b></p>
            <p>A: <a class="funky_anchor" href="http://www.kilmanndiagnostics.com/overview-thomas-kilmann-conflict-mode-instrument-tki">Read
                about it here</a></p>
        </li>
        <li>
            <p><b>Q: What should I expect?</b></p>
            <p>A: In the background, players play their game like this:</p>
            <iframe src="//giphy.com/embed/cPb9aJFaQhJgQ?html5=true" width="480" height="370" frameBorder="0" class="giphy-embed" ></iframe>

            <p>Actually, you get the data of the most probable situation of conflict resolution, including:</p>
            <ul class="insidelist">
                <li>A weighted average score of the situation.</li>
                <li>The chosen strategy of each player.</li>
            </ul>
        </li>
        <li>
            <p><b>Q: How does this work?</b></p>
            <p>A: The conflict simulation is based on compatible strategies (see table). The assumptions behind the algorithm are the following:</p>
            <ul class="insidelist">
                <li>All conflicts are resolved.</li>
                <li>Conflicts are non-zero-sum games.</li>
                <li>Players are motivated to solve the conflict.</li>
                <li>Players change their strategy if needed, strategy choices are made by individual preferences.</li>
                <li>A conflict is resolved if all player strategies are compatible with each other.</li>
            </ul>
        <table>
                <tr>
                    <th></th>
                    <th>Competing</th>
                    <th>Compromising</th>
                    <th>Avoiding</th>
                    <th>Accommodating</th>
                    <th>Collaborating</th>
                </tr>
                <tr>
                    <th>Competing</th>
                    <td>&#10007;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10007;</td>
                </tr>
                <tr>
                    <th>Compromising</th>
                    <td></td>
                    <td>&#10003;</td>
                    <td>&#10007;</td>
                    <td>&#10007;</td>
                    <td>&#10003;</td>
                </tr>
                <tr>
                    <th>Avoiding</th>
                    <td></td>
                    <td></td>
                    <td>&#10007;</td>
                    <td>&#10007;</td>
                    <td>&#10003;</td>
                </tr>
                <tr>
                    <th>Accommodating</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&#10007;</td>
                    <td>&#10003;</td>
                </tr>
                <tr>
                    <th>Collaborating</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&#10003;</td>
                </tr>
            </table>
        </li>
        <li>
            <p>Just like this</p>
            <img src="/images/logic.png" />
        </li>
        <li>
            <p><b>Q: How many players can the simulation work with?</b></p>
            <p>A: Minimum 2 players, the maximum is yet to be tested.</p>
        </li>
    </ul>
    <a id="returnanchor" class="funky_anchor" href="#" th:href="@{'/index'}">[Go back to main page]</a>
</main>
</body>
</html>