<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type ="text/css" href= "/static/index.css"/>
    <title>Index</title>
</head>


<body>
<header>
    <nav>
        <img class="logo_image" src="/images/konflikt_logo.png"/>
        <ul>
            <li><a href="#" th:href="@{'/index'}">Home</a></li>
            <li><a href="#" th:href="@{'/add'}">Add new person</a></li>
            <li><a href="#" th:href="@{'/simulate'}">Simulate</a></li>
            <li><a href="#" th:href="@{'/faq'}">FAQ</a></li>
        </ul>
    </nav>
</header>
<main>
<div class="image">
<img src="https://mayrsom.files.wordpress.com/2015/10/competitors_get_ready_500_clr_11159.gif" />
</div>
<p class="indexp">Konflikt is an algorithmic simulation of the highly acknowledged Thomas-Kilmann Model. The simulation can be run on <em>n</em> number of people and will always end is resolving the conflict. The individual startegies applied in resolving the conflict is quantified , therefore we can deduce a real probability of the occurence of peace. If you want to know more check out the FAQ.</p>
</main>
</body>
</html>