<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Questionnaire</title>
    <link rel="stylesheet" type ="text/css" href= "/static/index.css"/>
</head>
<body>
<header>
    <nav>
        <img class="logo_image" src="/images/konflikt_logo.png"/>
        <ul>
            <li><a href="#" th:href="@{'/index'}">Home</a></li>
            <li><a href="#" th:href="@{'/add'}">Add new person</a></li>
            <li><a href="#" th:href="@{'/simulate'}">Simulate</a></li>
            <li><a href="#" th:href="@{'/faq'}">FAQ</a></li>
        </ul>
    </nav>
</header>

<main>
<form action="#" th:action="@{'/submit'}" th:object="${questionnaireForm}" method="post">
    <input type="submit" value="[Submit]"/>
    <input type="reset" value="[Start over]"/>
    <a class="funky_anchor" href="javascript:history.back()">[Cancel]</a>
    <a class="funky_anchor" href="#" th:href="@{'/index'}">[Go back to main page]</a>

    <label for="content" th:text="'First name:'">First name:</label>
    <input id="content" type="text" th:field="*{personFirstName}" th:required="required" required="true"/>

    <label for="content" th:text="'Last name:'">Last name:</label>
    <input id="content" type="text" th:field="*{personLastName}" th:required="required" required="true"/>

    <ol >
        <li th:each="question, iterSat : ${questions}">
    <p th:text="${question}"></p>

            <div th:each="choice : ${questionnaireForm.CHOICES}" class="radio">
                <input type="radio" th:value="${choice}" th:name="${'answers[' + iterSat.count + ']'}" />
                <label th:text="${choice}">Male</label>
            </div>
            <div th:remove="all" class="radio">
                <input type="radio" />
                <label>Female</label>
            </div>

        </li>
    </ol>
    <input type="submit" value="[Submit]"/>
    <input type="reset" value="[Start over]"/>
</form>
</main>
</body>
</html>