<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Hello!</h1>
<p>Select people to add them to the simulation group.</p>


<form action="#" th:action="@{'/submit'}" th:object="${questionnaireForm}" method="post">
    <input type="submit" value="Go!"/>
    <input type="reset" value="Start over"/>
    <a href="javascript:history.back()">Cancel</a>

    <label for="content" th:text="'Name:'">Name:</label>
    <input id="content" type="text" th:field="*{personName}" th:required="required" required="true"/>

    <ol >
        <li th:each="question, iterSat : ${questionnaireForm.questions}">
    <p th:text="${question}"></p>

            <div th:each="choice : ${questionnaireForm.CHOICES}" class="radio">
                <input type="radio" th:value="${choice}" th:name="${'answers[' + iterSat.count + ']'}" />
                <label th:text="${choice}">Male</label>
            </div>
            <div th:remove="all" class="radio">
                <input type="radio" />
                <label>Female</label>
            </div>

        </li>

    </ol>
</form>

</body>
</html>