<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Hello!</h1>
<p>Select people to add them to the simulation group.</p>
<form th:action="@{'/simulate'}" th:object="${selectedPeople}" method="post">
    <input type="submit" value="Go!"/>
    <a href="javascript:history.back()">Go back</a>
    <table>
        <thead>
        <tr>
            <th th:text="'Player name'">Player name</th>
            <th th:text="'Competing score'">Competing score</th>
            <th th:text="'Compromising score'">Compromising score</th>
            <th th:text="'Avoiding score'">Avoiding score</th>
            <th th:text="'Accommodating score'">Accommodating score</th>
            <th th:text="'Collaborating score'">Collaborating score</th>
            <th th:text="Add">Add</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${people}">
            <td th:text="${person.name}">John Doe</td>
            <td th:text="${#numbers.formatDecimal(person.competingScore,1,2)}">0.1</td>
            <td th:text="${#numbers.formatDecimal(person.compromisingScore,1,2)}">0.1</td>
            <td th:text="${#numbers.formatDecimal(person.avoidingScore,1,2)}">0.1</td>
            <td th:text="${#numbers.formatDecimal(person.accommodatingScore,1,2)}">0.1</td>
            <td th:text="${#numbers.formatDecimal(person.collaboratingScore,1,2)}">0.1</td>
            <td><input type="checkbox" name="select_person" th:value="${person.id}"  /></td>

        </tr>
        </tbody>
    </table>
</form>
</body>
</html>